<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chs.wish">
<application>

    <activity android:name=".launcher.WelcomeActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity android:name=".launcher.GuideActivity"/>
    <activity android:name=".user.LoginActivity"/>
    <activity android:name=".main.HomeActivity"/>

</application>

</manifest>