<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chs.wish">
<application>

    <!--<activity android:name=".launcher.WelcomeActivity"-->
        <!--android:theme="@style/LoadingSplash"-->
        <!--&gt;-->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
    <!--</activity>-->

    <activity android:name=".main.home.HomeActivity"
        android:theme="@style/LoadingSplash"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity android:name=".launcher.GuideActivity"/>
    <activity android:name=".user.LoginActivity"/>
    <!--<activity android:name=".main.home.HomeActivity"/>-->
    <activity android:name=".user.RegisterActivity"/>
    <activity android:name=".main.detail.WishDetailActivity"/>
    <activity android:name=".main.publish.PublishWishActivity"
              android:windowSoftInputMode="stateVisible|adjustResize"
        />
    <activity android:name=".main.publish.ApplyForHelpActivity"/>
    <activity android:name=".main.mine.MessageActivity"/>



    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.chs.wish.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths_public">
        </meta-data>
    </provider>

</application>

</manifest>